@import "tailwindcss";


:root {
  --background: #f8f5ef;
  --foreground: #1c211d;
  --primary: #315b3a;
  --accent: #c58b45;
  --muted: #6f756f;
}

html{
  data-scroll-behavior: smooth;
}

body{
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
  font-family: var(--font-sans);
}
/* section{
  scroll-margin-top: 2rem;
} */

*{
  box-sizing: border-box;
}

::selection{
  background: var(--primary);
  color: white;
}