@import "tailwindcss";

@theme{
  --font-sans: "Instrument Sans", sans-serif;
}

:root {
  --background: #f8f5ef;
  --foreground: #1c211d;
  --primary: #315b3a;
  --accent: #c58b45;
  --muted: #6f756f 
}

html{
  scroll-behavior: smooth;
  font-family: var(--font-sans);
}

body{
  margin: 0;
  background: var(--background);
  color: var(--foreground);
}

*{
  box-sizing: border-box;
}

::selection{
  background: var(--primary);
  color: white;
}